<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ProjetAirbnb</display-name>
  <servlet>
    <description></description>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>projet.frontoffice.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <servlet-name>ListeServlet</servlet-name>
    <servlet-class>projet.frontoffice.ListeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListeServlet</servlet-name>
    <url-pattern>/liste</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <servlet-name>DescriptifServlet</servlet-name>
    <servlet-class>projet.frontoffice.DescriptifServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DescriptifServlet</servlet-name>
    <url-pattern>/descriptif</url-pattern>
  </servlet-mapping>
  
</web-app>