<div class="navbar navbar-default navbar-static-top">
  <div class="container">
      <div class="navbar-header">
        <strong class="navbar-brand">Mon Minuteur Tomate</strong>
       </div>
      <nav class="navbar-right navbar-brand">
        <a href="" routerLink="/" class="nav-tabs">Accueil</a>
        <a routerLink="/tasks" class="nav-tabs" >Tâches</a>
        <a routerLink="/timer" class="nav-tabs">Minuteur</a>
     </nav>
  </div>  
</div>
<div class="text-center">
  <img src="./app/shared/assets/img/pomodoro-rosso.gif" alt="Pomodoro"/>
  <router-outlet> </router-outlet>
</div>

